// Fontes
$fonteGeral: Roboto, sans-serif;

// Paleta de cores
$corFundo: #f5f6fa;
$corHeader: #182C61;
$corBotao: #44bd32;
$corHover: #4cd137;
$corBranco: #fff;

// Responsividade do site
$mobile: 767px;
$tablet: 1023px;
$nestHub: 1024px;
$nestHubLimite: 1279px;
