*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body > section{
    padding-top: 90px;
    padding-bottom: 40px;
}

body > header{
    background-color: brown;
    padding: 16px;
    color: white;
    position: fixed;
    width: 100%;
}

header .po{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    margin-left: 8px;
}

header li a{
    color: white;
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}

.po{
    width: 1000px;
    margin: 0 auto;
}

.artigo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigo article img{
    /*height: 180px;*/
    width: 100%;
}

.artigo article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.artigo article{
    margin-bottom: 36px;
}

.artigo article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.artigo article a{
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.artigo article a:hover{
    text-decoration: underline;
}

.artigo article h2{
    font-size: 32px;
}

.artigo article h3{
    font-size: 20px;
}












